body{
  background-color:lightyellow;
}
h1 {
text-align: center;
color:yellow;
width:320px;
margin:0 auto;
margin-bottom: 10px;
opacity:0;
font-size: 38px;
text-shadow: 2px 4px orange;
}

.box {


  font-size:80px;
  display:inline-block;
  text-align: center;
  height: 101.7px;
  width : 101.7px;
  margin:0 auto;
  background-color: yellow;
  vertical-align: top;
  margin-top:4px;

}

.display {
  opacity:0;
  padding:2px;
  height:30px;
  width:129px;
  display:inline-block;
  background-color: orange;

}

#player1 {
  margin-left: 0px;
  border:4px solid orange;
}

#player2 {
  margin-left: 29px;
    border:4px solid orange;
}

.displayContainer{
  width:316px;
  margin:0 auto;

}



.container {
  width:100%;
  background-color: lightyellow;
  font-family: 'Comfortaa', cursive;
}

.line1, .line2, .line3{

  margin:0 auto;
  width:315px;
  height:105px;

  opacity:0;

}

.message{
  opacity:0;
  margin:0 auto;
  padding-top: 14px;
  margin-top:4px;
  height:50px;
  width:315px;
  background-color: orange;
  text-align:center;
  font-size: 20 px;
}

@media screen and (max-width: 500px) {
  h1 {
  font-size: 30px;
  }
}
